@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100%;

  &_main {

    &_div {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;

      @media (max-width: 720px) {
        align-items: center;
      } 
    }

    &_image {
      padding-top: 52px;
      @media (max-width: 720px) {
        padding-top: 20px;
      } 
      margin-bottom: 4px;
    }

    &_title {
      color: $white;
      font-size: 15px;
      font-family: $baseFont;
      font-weight: 400;
      line-height: 3.5rem;
      margin-bottom: 32px;
    }

    &_copyright {
      font-family: $baseFont;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 3.5rem;

      letter-spacing: 0.42px;

      color: rgba(255, 255, 255, 0.595198);
    }
  }

  &_horizontal_line {
    width: 100%;
    border-bottom: 3px solid #E717A7;
  }

  &_navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 52px;
    @media (max-width: 720px) {
      padding-bottom: 20px;
    }
    &_spaceBetween {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      &_general {
        width: 50%;
        display: flex;
        gap: 40px;
        @media (max-width: 720px) {
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-evenly;
          gap: 20px;
          padding-bottom: 15px;
        }
        span {
          cursor: pointer;
          font-family: $baseFont;
          font-size: 14px;
          font-weight: 400;
          color: #FFFFFF;
          letter-spacing: 0.42px;
        }
      }
      &_social {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        @media (max-width: 720px) {
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-evenly;
          gap: 20px;
        }
        svg {
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          color: #E717A7;
          letter-spacing: 0.42px;
          height: 22px;
          width: auto;
        }

        Image {
          padding: 0;
          width: 22px;
        }
      }
    }
  }

  &_div {
    flex-grow: 0.75;
    min-width: 10rem;
    padding-left: 0.25rem;

    &_title {
      margin-bottom: 2rem;

      & h3 {
        text-align: left;
        word-wrap: break-word;
        font-family: $baseFont;
        font-size: 1.8rem;
        margin: 0;
        color: $white;
      }
    }

    &_items {
      display: flex;
      flex-direction: column;
      height: 100%;

      &_item {
          width: 100%;
          font-family: $baseFont;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 3.5rem;

          letter-spacing: 0.42px;

          color: rgba(255, 255, 255, 0.595198);
      }

      &_icon {
        line-height: 3.5rem;

        letter-spacing: 0.42px;

        color: rgba(255, 255, 255, 0.595198);
        font-size: 2rem;
      }
    }
  }
}

.footer2 {
  display: flex;
  flex-direction: row;
  padding: 5rem 5rem;
  height: 100%;
}