@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.footer {
  position: relative;
  display: block;
  padding: 50px 30px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #0e131d;
  background-color: #020a1e;
  color: #fff;

  &_container {
    overflow: visible;
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
  }

  &_container_10 {
    display: block;
    height: 43.63px;
    padding-bottom: 10px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  &_bottom_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    &_copyright_2 {
      font-family: 'Arial';
      font-size: 14px;
      list-style: 20px;
      font-weight: 400;
      display: block;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: #fff;
    }
  }
  &_divider_two_2 {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e717a7;
  }
  &_wrapper_three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 720px) {
      flex-direction: column;
      gap: 10px;
    } 
    &_block_three {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: -20px;
      margin-left: -20px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      a {
        font-family: 'Arial';
        font-size: 14px;
        list-style: 20px;
        font-weight: 400;
        margin-right: 20px;
        margin-left: 20px;
        color: #fff;
        text-align: left;
        text-decoration: none;
      }
    }

    &_block_three_2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: -32px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      a {
        margin-left: 32px;
      }
      svg {
        height: 32px;
        width: 32px;
        color: #E717A7;
      }
    }
  }


  &_main {

    &_div {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      width: 940px;
      max-width: 1080px;
      @media (max-width: 720px) {
        align-items: center;
      } 
    }

    &_image {
      width: 216px;
      padding-top: 50px;
      @media (max-width: 720px) {
        padding-top: 20px;
      } 
      margin-bottom: 4px;
    }

    &_title {
      width: 216px;
      color: $white;
      font-size: 12px;
      font-family: $baseFont;
      font-weight: 400;
      line-height: 3.5rem;
      margin-bottom: 40px;
    }

    &_copyright {
      font-family: $baseFont;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 3.5rem;

      letter-spacing: 0.42px;

      color: rgba(255, 255, 255, 0.595198);
    }
  }

  &_horizontal_line {
    width: 100%;
    height: 1px;
    background-color: #e717a7;
  }

  &_navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 52px;
    @media (max-width: 720px) {
      padding-bottom: 20px;
    }
    &_spaceBetween {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      &_general {
        width: 50%;
        display: flex;
        gap: 40px;
        @media (max-width: 720px) {
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-evenly;
          gap: 20px;
          padding-bottom: 15px;
        }
        span {
          cursor: pointer;
          font-family: $baseFont;
          font-size: 14px;
          font-weight: 400;
          color: #FFFFFF;
          letter-spacing: 0.42px;
          white-space: nowrap;
        }
      }
      &_social {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        @media (max-width: 720px) {
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-evenly;
          gap: 20px;
        }
        svg {
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          color: #E717A7;
          letter-spacing: 0.42px;
          height: 22px;
          width: auto;
        }

        Image {
          padding: 0;
          width: 22px;
        }
      }
    }
  }

  &_div {
    flex-grow: 0.75;
    min-width: 10rem;
    padding-left: 0.25rem;

    &_title {
      margin-bottom: 2rem;

      & h3 {
        text-align: left;
        word-wrap: break-word;
        font-family: $baseFont;
        font-size: 1.8rem;
        margin: 0;
        color: $white;
      }
    }

    &_items {
      display: flex;
      flex-direction: column;
      height: 100%;

      &_item {
          width: 100%;
          font-family: $baseFont;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 3.5rem;

          letter-spacing: 0.42px;

          color: rgba(255, 255, 255, 0.595198);
      }

      &_icon {
        line-height: 3.5rem;

        letter-spacing: 0.42px;

        color: rgba(255, 255, 255, 0.595198);
        font-size: 2rem;
      }
    }
  }
}

.footer2 {
  display: flex;
  flex-direction: row;
  padding: 5rem 5rem;
  height: 100%;
}