@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100vw;
  height: 40rem;

  @include l {
    height: 45rem;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.36;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(225.15deg, rgba(243, 108, 0, 0.0001) 16.9%, #D6779E 71.98%);
}

.content {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 160rem;

  @include l {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 35rem;
  }

  & div {
    width: 100%;

    @include l {
      width: 40vw;
      max-width: 75rem;
    }
  }

  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_title {
      color: $white;
      font-family: $baseFont;
      margin: 0;

      font-weight: 700;
      font-size: 5rem;
      line-height: 9.6rem;

      text-align: center;
      letter-spacing: 1.8px;

      background: linear-gradient(270deg, #FFFFFF 21.2%, #FFFFFF 50.78%, #FFFFFF 86.2%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

  &_left {
    width: 100%;

    &_title {
      display: flex;
      color: $black;
      font-family: $baseFont;
      margin: 0;
      text-align: left;
      font-size: 4.2rem;
      font-weight: 500;

      @include l {
        font-size: 4.8rem;
      }
    }

    &_sub {
      display: flex;
      flex-direction: column;

      & p {
        display: flex;
        font-size: 2rem;
        color: $black;
        font-family: $baseFont;
        text-align: left;

        @include l {
          font-size: 2rem;
        }
      }

      & span {
        color: $pink;
        margin-right: 1rem;
      }
    }
  }

  &_right {
    display: none;

    @include l {
      display: block;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      width: 40rem;
    }

    // & div {
    //   position: relative;
    //   height: 15rem;
    //   width: 15rem;
    //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    //   @include l {
    //     height: 25rem;
    //     width: 25rem;
    //   }
    // }

    // &_rightBadge {
    //   margin-right: -2rem;
    // }
  }
}
