@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 5rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    color: $pink;
    font-family: $baseFont;
    font-size: 2.4rem;
    word-wrap: break-word;
    text-align: center;

    width: 80vw;

    @include l {
      font-size: 3.2rem;
    }
  }
}

.campaign {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $white;

  color: $black;
  font-family: $baseFont;

  font-size: 1.8rem;
  word-wrap: break-word;

  width: 80rem;
  max-width: 70vw;

  border-radius: 8px;
  min-height: 10rem;

  padding: 2rem;

  @include xs {
    max-width: 80%;
  }

  @include l {
    font-size: 2.4rem;
    width: 60vw;
    max-width: 70%;
  }

  &_info {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include s {
      flex-direction: row;
    }

    &_title {
      width: 15rem;

      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;

      letter-spacing: 0.48px;

      color: rgba(0, 0, 0, 0.403983);
    }

    &_text {
      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;
      /* or 188% */

      letter-spacing: 0.48px;

      color: rgba(0, 0, 0, 0.895269);
    }
  }

  &_detail {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_img {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 20px;
    }

    &_top {
      min-height: 12rem;
    }

    & h3 {
      text-align: left;
      word-wrap: break-word;
      font-family: $baseFont;
      font-size: 2.2rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.895269);
      line-height: 30px;
    }

    & p {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.598558);
    }

    & li {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      color: rgba(0, 0, 0, 0.598558);
    }

  }

  &_timeleft_redeem {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 80%;
    }

    @include m {
      flex-direction: row;
      width: 70%;
    }

    @include l {
      width: 70%;
    }

    @include xl {
      width: 50%;
    }
  }

  &_timeleft_redeem_expired {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 100%;
    }

    @include m {
      flex-direction: row;
      width: 100%;
    }

    @include l {
      width: 100%;
    }

    @include xl {
      width: 100%;
    }
  }

  &_timeleft, &_redeem {
    display: flex;
    align-items: center;
    height: 3.5rem;
    //width: 100%;
    justify-content: left;
    //background-color: rgba(0, 0, 0, 0.7);
    padding: 0;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 80%;
    }

    @include m {
      flex-direction: row;
      width: 95%;
    }

    @include l {
      width: 95%;
    }

    @include xl {
      width: 50%;
    }

    & span {
      color: rgba(0, 0, 0, 0.895269);
      font-size: 2rem;
    }

    &_icon {
      color: #D8D8D8;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  &_soldout {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.campaign_offer_container {
  margin-top: -15rem;
  margin-bottom: 2rem; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > div {
    flex: 1 1 auto;
    margin: 5px;
  }

  @include l {
    flex-direction: row; 
    justify-content: space-between;
    width: 60vw;
  }
}

.campaign_main {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;

  color: $black;
  font-family: $baseFont;

  font-size: 1.8rem;
  word-wrap: break-word;

  width: 80rem;
  max-width: 70vw;

  border-radius: 8px;
  min-height: 10rem;

  padding: 2rem;

  @include xs {
    max-width: 80%;
  }

  @include l {
    font-size: 2.4rem;
    width: 49%;
    max-width: 70%;
  }

  &_info {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include s {
      flex-direction: row;
    }

    &_title {
      width: 15rem;

      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;

      letter-spacing: 0.48px;

      color: rgba(0, 0, 0, 0.403983);
    }

    &_text {
      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;
      /* or 188% */

      letter-spacing: 0.48px;

      color: rgba(0, 0, 0, 0.895269);
    }
  }

  &_detail {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_img {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 20px;
    }

    &_top {
      min-height: 12rem;
    }

    & h3 {
      text-align: left;
      word-wrap: break-word;
      font-family: $baseFont;
      font-size: 2.2rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.895269);
      line-height: 30px;
    }

    & p {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.598558);
    }

    & li {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      color: rgba(0, 0, 0, 0.598558);
    }

  }

  &_timeleft_redeem {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 80%;
    }

    @include m {
      flex-direction: row;
      width: 70%;
    }

    @include l {
      width: 70%;
    }

    @include xl {
      width: 50%;
    }
  }

  &_timeleft_redeem_expired {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 100%;
    }

    @include m {
      flex-direction: row;
      width: 100%;
    }

    @include l {
      width: 100%;
    }

    @include xl {
      width: 100%;
    }
  }

  &_timeleft, &_redeem {
    display: flex;
    align-items: center;
    height: 3.5rem;
    //width: 100%;
    justify-content: left;
    //background-color: rgba(0, 0, 0, 0.7);
    padding: 0;

    @include xs {
      width: 100%;
    }

    @include s {
      width: 80%;
    }

    @include m {
      flex-direction: row;
      width: 95%;
    }

    @include l {
      width: 95%;
    }

    @include xl {
      width: 50%;
    }

    & span {
      color: rgba(0, 0, 0, 0.895269);
      font-size: 2rem;
    }

    &_icon {
      color: #D8D8D8;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  &_timeleft {
    @include xl {
      width: 55%;
    }
  }

  &_redeem {
    @include xl {
      padding-left: 3rem;
      width: 45%;
    }
  }

  &_soldout {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.campaign_offer {
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: $white;
  border: 3px dashed #E717A7;

  color: $black;
  font-family: $baseFont;

  font-size: 1.8rem;
  word-wrap: break-word;

  width: 80rem;
  max-width: 70vw;

  border-radius: 8px;
  min-height: 10rem;

  padding: 2rem;

  @include xs {
    max-width: 80%;
  }

  @include l {
    font-size: 2.4rem;
    width: 49%;
    max-width: 70%;
    align-self: stretch;
  }

  &_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    flex-direction: column;

    @include s {
      flex-direction: column;
    }

    &_title {
      width: 15rem;
      letter-spacing: 0.48px;
      font-weight: 500;
      font-size: 96px;
      line-height: 0px;
      text-align: right;
      color: #E717A7;
    }

    &_text {
      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;
      /* or 188% */

      letter-spacing: 0.48px;

      color: rgba(0, 0, 0, 0.895269);
    }
  }

  &_detail {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_img {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 20px;
    }

    &_top {
      min-height: 12rem;
    }

    & h3 {
      text-align: left;
      word-wrap: break-word;
      font-family: $baseFont;
      font-size: 2.2rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.895269);
      line-height: 30px;
    }

    & p {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.598558);
    }

    & li {
      margin: 0;
      font-family: $baseFont;
      font-size: 1.4rem;
      text-align: left;
      color: rgba(0, 0, 0, 0.598558);
    }

  }
}

.campaign_offer_info {
  text-align: right;
  flex-direction: column;
}

.campaign_offer_title {
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  text-align: right;
  color: #E717A7;
}

.campaign_offer_title_text_only {
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #E717A7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soldout {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FF0000;
  font-family: $baseFont;

  font-size: 1.8rem;
  font-weight: 700;

  width: 100px;
  height: 100%;
  text-align: center;

  background: #FFF6F6;
  border: 2px solid #FF0000;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  color: $black;
  font-family: $baseFont;

  font-size: 1.8rem;
  word-wrap: break-word;

  width: 80vw;

  @include l {
    font-size: 2.4rem;
    width: 50vw;
    max-width: 80rem;
  }

  &_tnc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &_title {
      font-size: 1.4rem;
      font-weight: 500;

      @include l {
        font-size: 1.8rem;
      }
    }

    & ul {
      padding-left: 2rem;
      margin: 0;
      & li {
        padding: 0.5rem 0;

        font-size: 1.2rem;
        word-wrap: break-word;

        @include l {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.content_button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-self: center;

  & button {
    background-color: #E717A7;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;

    height: 4rem;
    width: 20rem;

    font-family: $baseFont;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: all 0.5s ease;

    @include m {
      width: 30rem;
    }

    &:hover {
      transform: translateY(0.2rem);
      transition: all 0.5s ease;
    }

    &:disabled {
      background-color: #979797;
      pointer-events: none;
      box-shadow: none;
      filter: none;
    }
  }
}

.tokens {
  display: grid;
  padding: 0;
  list-style: none;

  margin: 5rem 0;

  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;

  @include l {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.expiredtext {
  color: rgba(255, 160, 21, 0.896389) !important;
}
